.center {
  position: relative;
  padding: 50px 50px;
  background: rgba(255,255,255);
  border-radius: 10px;
  width: 30rem;
  margin-left: 2rem;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid gray;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="submit"] {
  width: 50%;
  background: gray;
  color: #fff;
  border: #fff;
  height: 3rem;
  border-radius: 1rem;
}
.center .inputbox:hover [type="submit"] {
  background: linear-gradient(45deg, black,gray, white);
}
